<% title "About Gilmo Gim" %>

<div class="media">
  <img src="..." class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Education</h5>
    Graduated From BYUH ........
  </div>
</div>
</br>
<div class="media">
  <img src="..." class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Professional Experience</h5>
    He worked .....
  </div>
</div>