<% title "Welcome to Gilmo's Portfolio" %>

<!--<div class="card" style="width: 18rem;">-->
<!--  <img src="..." class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Project1</h5>-->
<!--    <p class="card-text">I'll put my project1 here</p>-->
<!--    <a href="#" class="btn btn-primary">Go project1</a>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="card" style="width: 18rem;">-->
<!--  <img src="..." class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Project2<h5>-->
<!--    <p class="card-text">I'll put my project2 here</p>-->
<!--    <a href="#" class="btn btn-primary">Go project2</a>-->
<!--  </div>-->
<!--</div>-->